<%= form_with model: [:admin, @badge_rule], local: true do |form| %>
  <%= render 'shared/errors', resource: @badge_rule %>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name, id: :name %>
  </p><br>

  <p><%= form.submit%>

<% end %>
