<%= form_with url: sessions_path, local: true do |form| %>
  <%= flash_message(flash[:alert]) %>
<p>
  <%= form.label :login %>
  <%= form.text_field :login, id: :login %>
</p>

<p>
  <%= form.label :password %>
  <%= form.password_field :password, id: :password %>
</p>

<p><%=form.submit 'Enter' %></p>
<% end %>
