<p>
  <strong>Name:</strong>
  <%= @badge.name %>
</p>

<p>
  <strong>File_name:</strong>
  <%= @badge.file_name %>
  <%= image_tag "#{@badge.file_name}", :class => "style_image_badge" %>
</p>

<p>
  <strong>Rule:</strong>
  <%= @badge.badge_rule.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @badge.author_badge.email %>
</p><br>

<%= link_to 'Редактировать', edit_admin_badge_path(@badge) %> |
<%= link_to 'Назад', admin_badges_path %>
