<h1>Тест <%=@test_passage.test.title %> был завершен!</h1>

  <h2>Количество правильных ответов: <%= actual_number_answers(@test_passage) %>
    из <%= total_number_answers(@test_passage) %><br>
  </h2>


<h3> Процент успеха:
  <% percent = percent(@test_passage) %>
<% if @test_passage.successful?(percent) %>
    <p style="color:#32CD32"><%= "#{percent}%"%><br></p> Тест пройден
<% else %>
    <p style="color:#DC143C"><%= "#{percent}%"%><br></p> Тест не пройден
<% end %>
</h3>

<%= link_to 'Назад к списку всех тестов', tests_path %>
