<h1>Тест <%=@test_passage.test.title %> был завершен!</h1>

  <h2>Количество правильных ответов: <%= @test_passage.correct_questions %>
    из <%= @test_passage.total_question_number %><br>
  </h2>


<h3> Процент успеха:
<% if @test_passage.successful? %>
    <p style="color:#32CD32"><%= "#{@test_passage.percent}%"%><br></p> Тест пройден
<% else %>
    <p style="color:#DC143C"><%= "#{@test_passage.percent}%"%><br></p> Тест не пройден
<% end %>
</h3>

<% if current_user.badge_by_category(@test_passage.test.category.name) %>
    <p>Вы получили бейдж: <%= current_user.badges.last.badge_rule.name %><p>
    <%= image_tag "#{current_user.badges.last.file_name}", :class => "style_image_badge" %>
<% end %>

<% if current_user.badge_by_test_first_try(@test_passage.test.title) %>
    <p>Вы получили бейдж: <%= current_user.badges.last.badge_rule.name %><p>
    <%= image_tag "#{current_user.badges.last.file_name}", :class => "style_image_badge" %>
<% end %>

<% if current_user.badge_by_test_level(@test_passage.test.level) %>
    <p>Вы получили бейдж: <%= current_user.badges.last.badge_rule.name %><p>
    <%= image_tag "#{current_user.badges.last.file_name}", :class => "style_image_badge" %>
<% end %><br>



<%= link_to 'Назад к списку всех тестов', tests_path %>
